<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        Contact:
        <a href="mailto:{{ site.email }}">
          <i class="fa fa-fw fa-envelope"></i>
        </a>

        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}">
          <i class="fa fa-fw fa-twitter"></i>
        </a>
        {% endif %}

        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}">
          <i class="fa fa-fw fa-github"></i>
        </a>
        {% endif %}

      </div>

      <div class="footer-col  footer-col-2">
        Subscribe:
        {% if site.itunes_username %}
        <a href="{{ site.itunes_link }}">
          <i class="fa fa-fw fa-apple"></i>
        </a>
        {% endif %}

        {% if site.soundcloud_username %}
        <a href="https://soundcloud.com/{{ site.soundcloud_username }}">
          <i class="fa fa-fw fa-soundcloud"></i>
        </a>
        {% endif %}

      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
